@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');


* {
	margin: 0;
	padding: 0;
}

body {
    width: 85%;
	margin: 0 auto;
}

:root {
    --primary-color: #3E78B2;
    --secondary-color: #24272B;
    --accent1-color: #4A525A;
    --accent2-color: #004BA8;

    --heading-font:var(--primary-color), serif;
    --paragraph-font:var(--accent1-color), serif;

    --nav-background-color: #4A525A;
    --nav-link-color: #3E78B2;
    --nav-hover-link-color: #004BA8;
    --nav-hover-background-color: #24272B;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.sociallinks a {
    text-decoration: none;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}




.hero {
    position: relative;
    text-align: center;
    margin: 10px auto;
    object-fit: cover;
}

div article{
    position: absolute;
	bottom: 10%;
    right: 25px;
    width: 50%;
    height: auto;
	background: radial-gradient(#eee, #4567aa);
	box-shadow: 0 0 30px #111;
    float: right;
}

div h1 {
    position: absolute;
    top: 15%;
    left: 40%;
    right: 40%;
    color: rgb(255, 255, 255);
    
}