@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #3E78B2;
    --secondary-color: #24272B;
    --accent1-color: #4A525A;
    --accent2-color: #004BA8;

    --heading-font:var(--primary-color), serif;
    --paragraph-font:var(--accent1-color), serif;

    --nav-background-color: #4A525A;
    --nav-link-color: #3E78B2;
    --nav-hover-link-color: #004BA8;
    --nav-hover-background-color: #24272B;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}